.card{
margin: 5%;
width: 200px;
}
.back{
    background: rgb(66, 222, 66);
}
.font{
    font-family: Arial, Helvetica, sans-serif;
    
    font-size: 20px;
}
.porta{
    height: 250px;
    border-radius: 50%;
}